* {
  margin: 0;
  padding: 0;
}

.backdrop {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.modal {
  flex-direction: column;
  justify-content: space-between;
  display: none;
  height: 200px;
  width: 350px;
  position: fixed;
  background: #ffffff;
  top: 50%;
  right: 50%;
  z-index: 200;
  transform: translate(50%, -50%);
}

.modal__top {
  display: flex;
  justify-content: end;
}

.modal__top button {
  margin: 10px;
  border: none;
  background: none;
  cursor: pointer;
}

.modal__bottom .modal__bottom__actions {
  display: flex;
  justify-content: end;
  gap: 16px;
}
